[flake8]
ignore =W504 W503, E501
max-line-length = 79
show-source = False
application-import-names = minivllm
exclude =
    .git
    docs
    venv
    build
    env
    log
    dist
	*.egg-info
	__pycache__
